.sign-up {
  position: relative;
  left: -5px;

  box-sizing: border-box;
  width: 380px;
  background-color: #ffffff;
  padding: 47px 30px 47px 30px;
  border-radius: 6px;
}

.sign-up__title {
  text-align: center;
  margin: 0;
  margin-bottom: 22px !important;
}

.sign-up__label {
  display: block;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #262626;

  margin-bottom: 12px;
}

.sign-up__input {
  box-sizing: border-box;
  margin-top: 5px;
  height: 40px;
}

.sign-up__input::placeholder {
  font-size: 17px;
}

.sign-up__checkbox-label {
  display: flex;

  border-top: 1px solid #e8e8e8;
  font-size: 14px;
  line-height: 22px;
  
  padding-top: 7px;
  margin-top: 20px;
  margin-bottom: 22px;
}

.sign-up__checkbox {
  display: block;
  position: relative;
  top: 4px;

  width: 16px;
  height: 16px;

  margin-right: 8px;
}

.sign-up__submit {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;

  margin-bottom: 5px;
}

.sign-up__message {
  text-align: center;
}

.sign-up__message-text {
  font-size: 12px;
  color: #8C8C8C;
}

.sign-up__message-link {
  text-decoration: none;
  color: #1890FF;
  margin-left: 4px;
}