.create-new-post {
  box-sizing: border-box;
  width: 938px;
  padding: 47px 32px;
  
  background-color: #FFFFFF;
  border-radius: 6px;
}

.create-new-post__title {
  text-align: center;
  margin: 0;
  margin-bottom: 22px !important;
}

.create-new-post__label {
  display: block;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #262626;

  margin-bottom: 20px;
}

.create-new-post__label:last-of-type {
  margin-bottom: 16px;
}

.create-new-post__input {
  box-sizing: border-box;
  margin-top: 5px;
  height: 40px;

  font-size: 17px;
}

.create-new-post__input::placeholder {
  font-size: 17px;
}


.create-new-post__input--tag {
  width: 300px;
  font-size: 16px;
  padding-bottom: 8px;

  margin-top: 0;
  margin-right: 18px; 
  margin-bottom: 5px;
}

.create-new-post__tag-label {
  display: block;
  margin-bottom: 7px;
}

.create-new-post__delete-tag-button {
  box-sizing: border-box;
  height: 40px;
  width: 117px;
  font-size: 16px;
  padding-bottom: 7px;
}

.create-new-post__delete-tag-button:not(:last-child) {
  margin-right: 18px;
}

.create-new-post__add-tag-button {
  box-sizing: border-box;
  height: 40px;
  width: 137px;
  font-size: 16px;
  padding-bottom: 7px;
  border-color: #1890FF;
  color: #1890FF;
}

.create-new-post__tags {
  margin-bottom: 15px;
}

.create-new-post__submit {
  height: 40px;
  width: 319px;

  border-radius: 4px;
  font-size: 16px;
}

.create-new-post__input--invalid {
  border: 1px solid #F5222D;
}

.create-new-post__invalid-message {
  display: none;
  color: #F5222D;
  font-size: 14px;
  line-height: 22px;
}

.create-new-post__input--invalid + .create-new-post__invalid-message {
  display: block;
}

.create-new-post__tag-item {
  display: flex;
}